form {
    margin: 30px;
}

form label {
    display: inline;
    text-align: center;
    font-size: 1.3em; /* trinta por cento maior que a fonte padrão */
    padding: 1em;
}

.submit-button {
    background: #20c997;
    color: white;
    border: none;
    border-radius: 5px; /* arredonda o botão */
    font-size: 1em; /* 1em é o tamanho padrão */
}

.submit-button:hover {
    background: #00a293;
    font-weight: bolder;
}

.container {
    display: flex; /* adiciona responsividade */
    flex-direction: column;
    justify-content: center; /* justifica mediante a direction, nesse caso, column */
    align-items: center; /* alinha ao centro da tela */
}

table {
    margin: 30px;
    text-align: center;
}

thead {
    background: #20c997;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

.list-button {
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 1em;
}

.apagar-button{
    background: mediumslateblue;
}

.editar-button{
    background: darkseagreen;
}
